<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <img src="{{ 'images/logo.png' }}" alt="Logo de l'entreprise" style="width: 50px; height: 50px;"/>
         {{ project.name }}
    </a>
</h1>